*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root {
  --base-shade-1: #b9daf0;
  --white-shade-1: #ffffff;
  --white-shade-2: #d7e1f3;
  --black-shade-1: #232323;
  --black-shade-2: #676a8b;
  --grad-color-1: 0, 180, 250;
  --grad-color-2: 21, 120, 255;

  --base-font-size: 1.6rem;

  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;
}

  /*------ Base Styles ------*/
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  /*------ Utility Classes ------*/
  
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    *gap: 5rem;
  }
 
  .column1{
    margin-top:0.5rem;
    background-color: #000000;
    width:69rem;
    height:100rem;
  }
  .black{
    height:30rem;
    background-color: #000000;
    width:40rem;
  }
  .column2{
    margin-top:0.5rem;
    width:66rem;
    height:100rem;
    background-color: #4ac24a;
   
   }
   #bimg{

   }
  
  #comming{
    width:25rem;
    height:10rem;
    margin-left:7rem;
    margin-top:4rem;
  }
  
  .section-desc {
    text-align: center;
    margin: 2rem 0 6rem 0;
  }
  h1 {
    font-size: var(--heading-font-size-1);
    color: var(--black-shade-1);
    margin-bottom: 2rem;
    word-spacing: 1rem;
    line-height: 1.6;
  }
 
  p,
  button {
    font-size: var(--base-font-size);
    color: var(--black-shade-2);
    line-height: 1.8;
    font-weight: 400;
  }
  .btn {
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-2);
    border: none;
    margin: 2rem 0;
  }
  .primary-btn {
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
  }
  .secondary-btn {
    border: 0.3rem solid var(--base-shade-1);
    color: var(--base-shade-1);
  }
  
  /*------ Header ------*/
  header {
    position: fixed;
    width: 100%;
    padding: 3rem 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    font-size: var(--heading-font-size-4);
    text-decoration: none;
  }
  nav a#logo {
    color:white;
    font-weight:700;
  }
  nav ul a {
    color: var(--white-shade-1);
  }
  .header{
    background-color: #000000;
  }
  
  /*-- SideMenu --*/
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  /*-- Sticky Header --*/
  .sticky {
    background-color:rgb(0, 0, 0);
    box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.05);
    
  }
  .sticky nav ul a,
  .sticky nav a#logo,
  .sticky #ham-menu {
    color:white;
  }
  /*-- Link Hover Effect --*/
  nav ul a:hover {
    color:white;
  }
  .sticky nav ul a:hover {
    color:var(--base-shade-1);
  }
  /*------ Section: Hero ------*/
 
  /*------ Section: Features ------*/
  .features .row {
    align-items: stretch;
  }
  .features .column {
    padding: 6rem 2rem;
    border-radius: var(--border-radius-1);
  }
  .features .column p {
    text-align: center;
  }
  .features h3 {
    margin: 3rem 0;
  }
  .features i {
    display: block;
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
    font-size: 3.5rem;
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
    padding: 1.3rem 0;
    text-align: center;
    border-radius: var(--border-radius-2);
  }
  .features .column:hover {
    background-color: var(--base-shade-1);
  }
  .features .column:hover h3 {
    color: var(--white-shade-1);
  }
  .features .column:hover p {
    color: var(--white-shade-2);
  }
  .features .column:hover i {
    background-color: var(--white-shade-1);
    color: var(--base-shade-1);
  }
  /*------ Section: Courses ------*/
  .courses .row {
    align-items: stretch;
  }
  .courses .column {
    box-shadow: 0 0.5rem 2.4rem 0.6rem rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
  }
  .courses .column > *:not(img) {
    padding: 0 2rem;
  }
  .courses .column img {
    border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
    width: 100%;
  }
  .courses .column p {
    text-align: center;
    flex-grow: 1;
  }
  .courses-btn {
    display: flex;
    justify-content: center;
  }
  .courses-btn .btn:hover {
    color: var(--white-shade-1);
    background-color: var(--base-shade-1);
  }
  h1{
    text-align: center;
  }
  
  
  